Mako==1.0.1
MarkupSafe==0.23
Pillow==2.9.0
PyYAML==3.11
SQLAlchemy==1.0.8
SQLAlchemy-Utils==0.30.15
alembic==0.7.7
blessings==1.6
click==4.1
npyscreen==4.9.1
oauthlib==1.0.1
peewee==2.6.3
pyBarcode==0.7
pycups==1.9.73
reportlab==3.2.0
requests==2.4.3
requests-oauthlib==0.4.1
six==1.7.3
turses==0.3.0
tweepy==3.1.0
urwid==1.3.0
wsgiref==0.1.2
